<form [formGroup]="routesForm" novalidate class="routes-form">
  <mat-form-field>
    <mat-select placeholder="Routes" formControlName="enabledRoutes" multiple>
      <mat-option *ngFor="let route of routes" [value]="route">
        <span>{{route}}</span>
        <span class="option-color" [ngStyle]="{background: routeColors[route]}"></span>
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>
<app-google-map
  [zoom]="mapZoom"
  [lat]="mapLat"
  [lng]="mapLng"
  [layerUrls]="routeLayerUrls"
  [routeColors]="routeColors"
  [vehicles]="vehicles$ | async">
</app-google-map>
