:host {
  position: relative;
  display: block;
}

.routes-form {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  z-index: 100;
}

/deep/ mat-option {
  .mat-option-text {
    display: inline-flex;
    align-items: center;

    .option-color {
      flex: 1;
      display: block;
      margin-left: 20px;
      height: 25px;
    }
  }
}
